.projectList {
  width: 100%;
  margin-top: 32px;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid lightgray;
  border-radius: 8px;
  display: grid;
  grid-auto-rows: minmax(32px, max-content);

  &__rowTitle {
    background-color: lightgray;
    display: grid;
    grid-template-columns: 50px 1fr 1fr 150px;
  }

  &__columnTitle {
    width: 100%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    @include font(14px, 16px, 500);
  }

  &__form {
    height: 80%;
    width: 90%;
    border: none;
    background-color: inherit;
  }

  &__form::placeholder {
    @include font(14px, 16px, 300);
  }

  &__form:focus {
    outline: 1px solid lightgray;
    border-radius: 5px;
  }

  &__row {
    text-decoration: none;
    background-color: inherit;
    display: grid;
    grid-template-columns: 50px 1fr 1fr 150px;
    border-bottom: 1px solid lightgray;
    margin-bottom: -1px;

    &:hover {
      background-color: lightgray;
    }
  }

  &__btn {
    border: none;
    background-color: inherit;
    @include font(14px, 16px, 300);
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
    > img {
      display: block;
      width: 16px;
      height: 16px;
    }
  }

  &__column {
    width: 100%;
    display: flex;
    align-items: center;
    @include font(14px, 16px, 300);
    width: 100%;
    text-decoration: none;
    color: black;
    text-align: left;
    padding-left: 20px;
  }
}
