.userPersonal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;

    > img {
      background-color: wheat;
      width: 170px;
      height: 170px;
      border-radius: 8px;
      object-fit: cover;
    }
  }

  &__info {
    margin: auto 0;
    display: grid;
    grid-auto-rows: 32px;
  }

  &__row {
    display: flex;
    width: 100%;
  }

  &__text {
    min-width: 80px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include font(14px, 16px, 300);
  }

  &__btn {
    min-width: 80px;
    height: 20px;
    margin: auto 0;
    margin-left: 20px;
    border: none;
    padding: 0;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include font(14px, 16px, 300);
    text-align: left;
    cursor: pointer;
    > img {
      display: block;
      margin-left: 10px;
      transform: translateY(-4px);
      width: 16px;
      height: 16px;
    }
  }
}
