.profile {
  width: 100%;
  position: relative;

  &__container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: minmax(250px, 350px) minmax(250px, 300px) 1fr;
    @include mobile {
      grid-template-columns: minmax(250px, 350px);
      grid-template-rows: repeat(3, 300px);
    }
  }

  &__avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > img {
      background-color: wheat;
      width: 170px;
      height: 170px;
      border-radius: 8px;
      object-fit: cover;
    }

    > button {
      width: 100px;
      height: 26px;
      margin-top: 20px;
      border-radius: 8px;
      border: none;
      background-color: $menu-background;
      @include font(14px, 16px, 300);
      color: $menu-text;
    }
  }

  &__info {
    margin: auto 0;
    display: grid;
    grid-auto-rows: 32px;
  }

  &__row {
    display: flex;
    width: 100%;
  }

  &__text {
    min-width: 80px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include font(14px, 16px, 300);
  }

  &__btn {
    width: 100%;
    //min-width: 80px;
    height: 20px;
    margin: auto 0;
    margin-left: 20px;
    border: none;
    padding: 0;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include font(14px, 16px, 300);
    text-align: left;
    cursor: pointer;
    > img {
      display: block;
      margin-left: 10px;
      transform: translateY(-4px);
      width: 16px;
      height: 16px;
    }
  }

  &__formAvatar {
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    padding-left: 10px;
    box-sizing: border-box;
    background-color: white;
    opacity: 0.85;
  }
}
