.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: $background-body;

  &__wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__btn {
    min-width: 200px;
    min-height: 50px;
    margin: 15px;
    border-radius: 8px;
    border: none;
    background: $menu-background;
    color: $menu-text;
  }

  &__title {
    color: $menu-text;
    font-family: Roboto;
    @include font(20px, 24px, 600);
  }
}
