.inputText {
  max-width: 400px;
  min-width: 25vw;
  height: 170px;
  border-radius: 8px;
  -webkit-box-shadow: 4px 4px 45px 7px rgba(87, 186, 193, 0.42);
  -moz-box-shadow: 4px 4px 45px 7px rgba(87, 186, 193, 0.42);
  box-shadow: 4px 4px 45px 7px rgba(87, 186, 193, 0.42);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  & > div {
    width: 90%;
    display: flex;
    justify-content: end;

    & > button {
      border: none;
      background-color: inherit;
      cursor: pointer;
    }
  }

  & > input {
    height: 32px;
    width: 70%;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid gray;
    padding-left: 15px;
  }

  & > button {
    height: 32px;
    width: 70%;
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
    background-color: $menu-background;
    @include font(14px, 16px, 300);
    color: $menu-text;
  }
}
