.card {
  width: calc(100% - 20px);
  height: calc(100% - 30px);
  margin: 20px 10px 10px 10px;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 8px;
  position: relative;

  &__title {
    position: absolute;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: white;
    padding: 0 10px;
    @include font(19px, 22px, 500);
  }
}

.contacts {
  height: 100%;
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  &__title {
    margin: 15px 0;
    @include font(16px, 19px, 300);
  }

  &__map {
    max-width: 60%;
    max-height: 100%;
    overflow: hidden;
  }
}

.alarms {
  height: 100%;
  padding: 25px;
  box-sizing: border-box;
  overflow: scroll;
  &__title {
    margin: 15px 0;
    @include font(16px, 19px, 300);
  }
  &__subtitle {
    margin: 15px 0;
    @include font(16px, 19px, 300);
  }
}

.notifications {
  height: 100%;
  padding: 25px;
  box-sizing: border-box;
  overflow: scroll;
  &__title {
    margin: 15px 0;
    @include font(16px, 19px, 300);
  }
  &__subtitle {
    margin: 15px 0;
    @include font(16px, 19px, 300);
  }
}
